@{
    ViewData["Title"] = "Home Page";
}
<img id="pantryback" src="https://t4.ftcdn.net/jpg/06/51/39/83/240_F_651398347_xPZmSZzteM7UuywvuRyOxWBgSWqYskkx.jpg" />
<div class="text-center" >
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
 
</div>

